#contact span.icon {
    opacity: 0;
    transition: opacity 1s ease-out;
}

#contact .content {
    text-align: left;
}
#contact .content > h1 {
    color: #FFECD7 !important;
}

#contact .content a {
    margin: 10px 0 !important;
}

#contact .content a:hover {
    color: #FFECD7;
}

#contact .content > h1 {
    color: white !important;
}

#contact footer .content p {
    font-size: 1rem;
    margin-top: auto;
    text-align: center;
}

#contact ::selection {
    background: #FFECD7;
    color: black;
}

#contact-image {
    text-align: center;
    border-width: 15px;
    border-color: #FFECD7;
    background-color: #FFECD7;
    padding: 5px 5px 0px 5px;
    margin: 0 auto;
}

#contact-image > img {
    width: 100%;
    height: auto;
}

#image-cc {
    width: auto !important;
}

footer.hero-foot {
    padding-bottom: 10px;
}
