.carousel {
  overflow: hidden;
}

.inner {
  white-space: nowrap;
  transition: transform 0.5s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #4F1C1B;
  color: white;
  align-self: center;
}

.indicators {
  display: flex;
  justify-content: center;
}

.indicators > button {
  margin: 5px;
  margin-top: 2rem;
}

.indicators > button.active {
  background-color: green;
  color: white;
}

.indicators > span {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
  margin-top: 2rem;
  background-color: #FFECD7;
}

.indicators > span:hover {
  cursor: pointer;
}

.indicators > span.active {
  background-color: #E3C5A3;
}