@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
}

html {
  scroll-behavior: smooth;
}

nav, .navbar-menu {
  background-color: #FFECD7 !important;
  color: white !important;
}

#about-me {
  background-color: #0B3738;
}

#portfolio {
  background-color: #4F1C1B;
}

#contact {
  background-color: #141109;
}