#brief-info {
  font-family: 'Playfair Display', serif;
  font-size: 1.7rem;
  width: 100%;
  margin-left: auto;
  color: white !important;
  opacity: 0;
  padding: 10px;
  transform:translateX(-50px);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
  text-align: left;
}

#image-content {
  width: 60%;
  margin: auto;
  text-align: center;
}

.main-info {
  font-size: 1.1rem;
  padding: 10px;
  color: white;
  opacity: 0;
  transform:translateY(50px);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

#about-me ::selection {
  background: #FFECD7;
  color: black;
}


.main-info h1 ,#brief-info h1 {
  color: #FFECD7 !important;
}

#profile {
  transition: transform 1s;
  border-radius: 50%;
  margin-left: 0;
}

#profile:hover {
  transform: scale(1.02);
  box-shadow: 0 0.5em 1em -0.125em hsl(0deg 0% 4% / 10%), 0 0 0 1px hsl(0deg 0% 4% / 2%);
}

.fade-in {
  opacity: 1 !important;
  transform: translateY(0) translateX(0) !important;
}



@media (max-width: 430px) {
  #brief-info, .main-info {
    width: 100%;
    margin: auto;
    padding: 0;
  }
  #brief-info h1 {
    text-align: left;
  }
}